@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset for White Luxury Theme */
body {
  @apply bg-white text-brand-dark font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif text-brand-dark; /* Headings are now dark */
}